<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="public, max-age=31536000" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <remove name="Imported Rule 1" />
        <remove name="Imported Rule 2" />
        <remove name="Imported Rule 3" />
        <remove name="Imported Rule 4" />
        <remove name="Imported Rule 5" />
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^.*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="^BlackWidow" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Bot\ mailto:craftbot@yahoo.com" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^ChinaClaw" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Custo" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^DISCo" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Download\ Demon" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^eCatch" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^EirGrabber" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^EmailSiphon" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^EmailWolf" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Express\ WebPictures" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^ExtractorPro" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^EyeNetIE" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^FlashGet" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^GetRight" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^GetWeb!" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Go!Zilla" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Go-Ahead-Got-It" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^GrabNet" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Grafula" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^HMView" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="HTTrack" />
            <add input="{HTTP_USER_AGENT}" pattern="^Image\ Stripper" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Image\ Sucker" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="Indy\ Library" />
            <add input="{HTTP_USER_AGENT}" pattern="^InterGET" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Internet\ Ninja" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^JetCar" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^JOC\ Web\ Spider" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^larbin" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^LeechFTP" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Mass\ Downloader" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^MIDown\ tool" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Mister\ PiX" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Navroad" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^NearSite" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^NetAnts" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^NetSpider" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Net\ Vampire" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^NetZIP" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Octopus" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Offline\ Explorer" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Offline\ Navigator" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^PageGrabber" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Papa\ Foto" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^pavuk" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^pcBrowser" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^RealDownload" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^ReGet" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^SiteSnagger" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^SmartDownload" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^SuperBot" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^SuperHTTP" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Surfbot" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^tAkeOut" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Teleport\ Pro" />
            <add input="{HTTP_USER_AGENT}" pattern="^VoidEYE" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Web\ Image\ Collector" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Web\ Sucker" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^WebAuto" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^WebCopier" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^WebFetch" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^WebGo\ IS" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^WebLeacher" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^WebReaper" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^WebSauger" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Website\ eXtractor" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Website\ Quester" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^WebStripper" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^WebWhacker" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^WebZIP" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Wget" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Widow" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^WWWOFFLE" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Xaldon\ WebSpider" ignoreCase="false" />
            <add input="{HTTP_USER_AGENT}" pattern="^Zeus" ignoreCase="false" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^sitemap(-+([a-zA-Z0-9_-]+))?\.xml" ignoreCase="false" />
          <action type="Rewrite" url="index.php?route=cms/sitemap&amp;format={R:1}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 3" stopProcessing="true">
          <match url="^robots.txt" ignoreCase="false" />
          <action type="Rewrite" url="index.php?route=cms/sitemap/robots" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 4" stopProcessing="true">
          <match url="^([^?]*)/amp/" ignoreCase="false" />
          <action type="Rewrite" url="index.php?route=cms/amp&amp;_route_={R:1}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 5" stopProcessing="true">
          <match url="^([^?]*)" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?_route_={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="400" />
      <error statusCode="400" path="C:\Inetpub\vhosts\ancuong.com\error_docs\bad_request.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="C:\Inetpub\vhosts\ancuong.com\error_docs\proxy_authentication_required.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="C:\Inetpub\vhosts\ancuong.com\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="C:\Inetpub\vhosts\ancuong.com\error_docs\unsupported_media_type.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\Inetpub\vhosts\ancuong.com\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\ancuong.com\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\ancuong.com\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\ancuong.com\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\ancuong.com\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\ancuong.com\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\ancuong.com\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\ancuong.com\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\ancuong.com\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\ancuong.com\error_docs\bad_gateway.html" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\lecmax.com\tmp" />
  </system.web>
</configuration>